{{ define "main" }}
{{ $data := index .Site.Data }}
{{ with $data.projects.projects }}
<script>
	$('#container').imagesLoaded(function() {
		filterizd.filterizr('sort', '{{ lower (replace .name " " "-") }}', 'asc');
	});
</script>
{{ end }}
<!-- project -->
{{ with $data.projects.projects }}
{{/* <section class="shuffle-stopper"></section> */}}
<section class="project" id="projects">
  <div class="container-fluid text-center">
    <div class="row project-holder text-left">
      <div class="col-12 text-center">
        <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .title }}</h1>
        <div class="filtering wow fadeInUp" data-wow-duration="1.5s">
          <ul class="project-navigation">
            <li data-filter="all" class="hvr-sweep-to-right active">All Items</li>
            {{ $categories := slice }}
            {{ range .projects_list }}
            {{ $categories = $categories | append .fields.category }}
            {{ end }}
            {{ range ( $categories | uniq ) }}
            <li data-filter="{{ . | urlize }}" class="hvr-sweep-to-right">{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
        <div class="row filtr-container wow fadeInUp list" data-wow-duration="1.5s">
          {{ range .projects_list }}

          <div class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item" data-category="{{ .fields.category | urlize }}">
            <div class="item-holder">
              <div class="full-nav-content">
                <a href="{{ lower (replace .name " " "-") }}" title="{{ .name | safeHTML }}">
                  <div class="item-caption">
                    <h2>{{ .name | safeHTML }} <br> {{ .fields.platform | safeHTML }} </h2>
                    <p>{{ .fields.category | title }}</p>
                    <div class="item-created">{{ .fields.date }}</div>
                  </div>
                </a>
              </div>
              <div class ="pop-up-img" >
                <a href="/images/projects/{{lower .fields.name }}/{{lower .fields.name }}0.png" title="{{ .name | safeHTML }}">
                    <img src="/images/projects/{{lower .fields.name }}/{{lower .fields.name }}0.png" alt="{{ .name | safeHTML }}">
                </a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{/* <section class="shuffle-stopper"></section> */}}
{{ end }}
<!-- /project -->
{{ end }}