{{ define "main" }}
{{/*  {{ $data := index .Site.Data }} */}}

<section class="proj-page" id="proj-page">
	<div class="container">
		<div class="row proj-page-holder">
			<div class="proj-page-text">
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3">
								{{/*  <div class=" row">
									<h1>
										<h1>{{.Params.name}}</h1>
								</h1>
							</div> */}}
							<div class="row">
								<h4>Platform: {{.Params.platform }} </h4>
							</div>
							<div class="row">
								<h4> Category: {{.Params.category }} </h4>
							</div>
							<div class="row">
								<img style="max-width: 95%"
									src="/images/projects/{{lower .Params.name }}/{{lower .Params.Name }}.png">
							</div><br>
							{{ if .Params.features }}
							<div class="row"></div>
							<div class="row">
								<table class="table table-dark" style="max-width: 95%">
									<thead>
										<tr>
											<th>
												Features
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												Open-world
											</td>
										</tr>
										<tr>
											<td>
												Lootboxes
											</td>
										</tr>
										<tr>
											<td>
												Amazing PVP
											</td>
										</tr>
										<tr>
											<td>
												Lootboxes
											</td>
										</tr>
										<tr>
											<td>
												No Grinding
											</td>
										</tr>
										<tr>
											<td>
												Lootboxes
											</td>
										</tr>
										<tr>
											<td>
												Tons of Grinding
											</td>
										</tr>
										<tr>
											<td>
												Lootboxes
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							{{ end }}
						</div>

						<div class="col-md-6">
							<div class="row">
								<p>
									{{.Params.Content | markdownify }}
								</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
								{{$name := .Params.name}}
								{{ $folder :=  printf "static/images/projects/%s/" (.Params.name | lower) }}

								{{ if fileExists $folder }}
								{{ $files := readDir $folder }}
								{{ range $files }}
								{{ $image_split := split .Name "_small"}}
								{{ $image_base := index $image_split 0 }}
								{{ if not (eq .Name "%s_small.png" ($image_base | lower)) }}
								<div class="filtr-container wow fadeInUp" data-wow-duration="1.5s">
									<div class="pop-up-img">
										<a href="/images/projects/{{lower $name }}/{{ $image_base }}.png"
											title="{{ $image_base | safeHTML }}">
											<img src="/images/projects/{{lower $name }}/{{ $image_base }}_small.png"
												alt="project-thumb" class="img-fluid rounded float-left mr-5 mb-4">
										</a>
									</div>
								</div>
								{{ end }}
								{{ end }}
								{{ end }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

{{ end }}