{{ define "main" }}
{{/*  {{ $data := index .Site.Data }} */}}

<section class="proj-page" id="proj-page">
	<div class="container">
		<div class="row proj-page-holder">
			<div class="proj-page-text">
				<div class="content">
					<div class=" container-fluid">
						<div class="row wow fadeInUp" data-wow-duration="1.5s">
							<div class="col-md-3">
								<div class="row detail-content">
									<div class="pop-up-img img-custom">
										<a href="/images/projects/{{lower .Params.name }}/{{lower .Params.Name }}0.png" title="{{ lower .Params.Name | safeHTML }}">
											<img src="/images/projects/{{lower .Params.name }}/{{lower .Params.Name }}0_small.png" alt="project-thumb" class="img-fluid rounded float-left mr-5 mb-4">
										</a>
									</div>
								</div>
								<div class="row detail-content">
									<h4>Platform: {{.Params.platform }} </h4>
								</div>
								<div class="row detail-content">
									<h4> Category: {{.Params.category }} </h4>
								</div>
								<br>

								{{ if .Params.features }}
								{{ $features := slice }}
								{{ $features = $features | append .Params.featurelist }}
								<div class="row detail-content">
									<table class="table table-dark" style="max-width: 95%">
										<thead>
											<tr>
												<th>
													Features
												</th>
											</tr>
										</thead>
										<tbody>
											{{ range $features }}
											<tr>
												<td>
													{{ . }}
												</td>
											</tr>
											{{ end }}
										</tbody>
									</table>
								</div>
								{{ end }}
							</div>

							{{ if .Params.moreimages }}
							<div class="col-md-6">
								{{ else }}
								<div class="col-md-9">
									{{end}}
									<div class="row detail-content wow fadeInUp" data-wow-duration="1.5s">
										<p>
											{{.Params.Content | markdownify | emojify}}
											{{ if .Params.htmlenable }} 
											{{.Params.htmlcontent | safeHTML  }}
											{{end}}
											{{ if .Params.videos }} 
											{{ $videos := .Params.videos }}
											{{ range $videos }}
											{{ . }}
											<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
												<iframe src="{{ . }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
											</div>
											{{ end }}
											{{ end }}
										</p>
									</div>
								</div>
								{{ if .Params.moreimages }}
								<div class=" col-md-3">
									<div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
										{{$name := .Params.name}}
										{{ $folder :=  printf "static/images/projects/%s/" (.Params.name | lower) }}

										{{ if fileExists $folder }}
										{{ $files := readDir $folder }}
										{{ range $files }}
										{{ $file := .Name }}
										{{ $image_split := split $file "."}}
										{{ $image_base := index $image_split 0 }}
										{{ $image_ext := index $image_split 1 }}
										{{ if not (or (in $image_base "0") (in $image_base "_small")  (in $image_ext "gif") ) }}

										<div class="filtr-container wow fadeInUp detail-content" data-wow-duration="1.5s">
											<div class="pop-up-img">
												<a href="/images/projects/{{lower $name }}/{{ $image_base }}.{{$image_ext}}" title="{{ $image_base | safeHTML }}">
													<img src="/images/projects/{{lower $name }}/{{ $image_base }}.{{$image_ext}}" alt="project-thumb" class="img-fluid rounded float-left mr-5 mb-4">
												</a>
											</div>
										</div>
										{{ end }}
										{{ end }}
										{{ end }}
									</div>
								</div>
								{{ end }}
							</div>
						</div>
					</div>
				</div>
</section>

{{ end }}