{{ define "main" }}

<section class="proj-page" id="proj-page">
	<div class="container">
		<div class="row proj-page-holder">
			<div class="proj-page-text">
				<div class=" container-fluid">
					<div class="row wow fadeInUp" data-wow-duration="1.5s">
						<div class="col-md-3">
							<div class="row detail-content">
								<div class="pop-up-img">
									<!-- NOTE Thumb image ------------------------------------------------------- -->
									<a href="/images/projects/{{lower .Params.name }}/{{lower .Params.Name }}0.png"
										title="{{ lower .Params.Name | safeHTML }}">
										<img src="/images/projects/{{lower .Params.name }}/{{lower .Params.Name }}0_small.png"
											style="max-width: 95%" alt="project-thumb"
											class="img-fluid rounded float-left mr-5 mb-4">
									</a>
								</div>
							</div>
							<!-- NOTE Details ------------------------------------------------------------------- -->

							<div class="row detail-content proj-page-text-details">
								{{/* <hr class="detail-content proj-page-text-details top"> */}}
								<h5>Platform: {{.Params.platform }} </h5>
							</div>

							<div class="row detail-content proj-page-text-details">
								<h5> Category: {{.Params.category }} </h5>
								{{/* <hr class="detail-content proj-page-text-details bottom"> */}}
							</div>
								<br>


							{{ if .Params.features }}
							{{ $features := slice }}
							{{ $features = $features | append .Params.featurelist }}

							<!-- NOTE Features ------------------------------------------------------------------ -->
							<div class="row detail-content">
								<table class="table table-dark" >
									<thead>
										<tr>
											<th>
												<h5>
													Features
												</h5>
											</th>
										</tr>
									</thead>
									<tbody>
										{{ range $features }}
										<tr>
											<td>
												{{ . }}
											</td>
										</tr>
										{{ end }}
									</tbody>
								</table>
							</div>
							{{ end }}
						</div>

						{{ if not .Params.moreimages }}
						<div class="col-md-9">
						{{ else }}
						<div class="col-md-6">
						{{end}}
							<div class="row detail-content wow fadeInUp" data-wow-duration="1.5s">
								<div style="margin-bottom: 15px">
									<h1> {{.Params.name }} </h1>
								</div>
							</div>
															
							<!-- NOTE Main Content -------------------------------------------------------------- -->
							<div class="row detail-content wow fadeInUp" data-wow-duration="1.5s">
								<div style="margin-bottom: 15px">
									{{.Content}}
								</div>
							</div>

							<!-- NOTE HTML Content -------------------------------------------------------------- -->
							{{ if .Params.htmlenable }}
							<div class="row detail-content wow fadeInUp" data-wow-duration="1.5s">
								<div>
									{{.Params.htmlcontent | safeHTML  }}
								</div>
							</div>
							{{end}}

							<!-- NOTE Gifs ---------------------------------------------------------------------- -->
							{{ if .Params.gifs }}
							<div class="row detail-content wow fadeInUp" data-wow-duration="1.5s">
								{{ $gifs := .Params.gifs }}
								{{ range $gifs }}

								<div style="margin-bottom: 15px">
									<img src="{{ index . 0 }}" style="width: 100%;">
								</div>

								{{ end }}
							</div>
							{{ end }}

							<!-- NOTE Videos -------------------------------------------------------------------- -->
							{{ if .Params.videos }}
							<div class="row detail-content wow fadeInUp" data-wow-duration="1.5s">

								{{ $videos := .Params.videos }}
								{{ range $videos }}
								{{ $key := (index . 0) }}
								{{ $vdict := . }} 

								<div style="margin-bottom: 15px">
								{{ if index (index $vdict 0) 1 }}
								<h5>
								{{ index  $vdict  1 }}
								</h5>
								{{ end }}
								
									{{ if (ne (index $vdict 2) "") }}
									<a href="{{ index $vdict 2 }}"  target="_blank">
									{{ end }}
									<video preload="auto" autoplay="autoplay" loop="loop" style="width: 100%;">
										<source src="{{ (index $vdict 0) }}" type="video/webm">
										</source>
									</video>
									{{ if ne (index $vdict 2) "" }}
									</a>
									{{ end }}
								</div>

								{{ end }}
							</div>
							{{ end }}
						</div>
								{{ if .Params.moreimages }}
									<div class=" col-md-3">
										<div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
											{{$name := .Params.name}}
											{{ $folder :=  printf "static/images/projects/%s/" (.Params.name | lower) }}

											{{ if fileExists $folder }}
											{{ $files := readDir $folder }}
											{{ range $files }}
											{{ $file := .Name }}
											{{ $image_split := split $file "."}}
											{{ $image_base := index $image_split 0 }}
											{{ $image_ext := index $image_split 1 }}
											{{ if not (or (in $image_base "0") (in $image_base "_small")  (in $image_ext "gif") ) }}

											<!-- NOTE Image Sidebar ----------------------------------------- -->
											<div class="filtr-container wow fadeInUp detail-content" data-wow-duration="1.5s">
												<div class="item-holder">
													<div class="pop-up-img">
														<a href="/images/projects/{{lower $name }}/{{ $image_base }}.{{$image_ext}}"
															title="{{ $image_base | safeHTML }}">
															<img src="/images/projects/{{lower $name }}/{{ $image_base }}.{{$image_ext}}"
																alt="project-thumb"
																class="img-fluid rounded float-left mr-5 mb-4">
														</a>
													</div>
												</div>
											</div>

											{{ end }}
											{{ end }}
											{{ end }}
										</div>
									</div>
								{{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}