/*--------------------------------
   NOTE Start project
----------------------------------*/

.project {
	background: rgb(48, 48, 48);
	padding: 60px 0px;
}

.project h1 {
	color: #9c9c9c;
	text-align: center;
	font-weight: 700;
	letter-spacing: 4px;
	position: relative;
}

.project h1:before {
	content: "";
	height: 5px;
	background: #6f6f6f;
	position: absolute;
	top: -15px;
	left: 46.5%;
	right: 46.5%;
}

.filtering {
	width: 100%;
	padding: 25px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -moz-box;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.no-js .filtering {
	display: none;
}

.project-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: inherit;
	list-style: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 0;
}

.no-flexbox .project-navigation {
	display: inherit;
}

.project-navigation li {
	cursor: pointer;
	padding: 7px 14px;
	border: 1.5px solid #6f6f6f;
	color: #6f6f6f;
	font-weight: 700;
	margin: 0 5px;
}

.project-navigation li.active {
	background: #6f6f6f;
	color: #fff;
}

.project .hvr-sweep-to-right:before {
	background: #6f6f6f;
}

.project .hvr-sweep-to-right.active:before {
	background: transparent;
}

.filtr-item img {
	width: 100%;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.filtr-item:hover .item-holder img {
	-webkit-transform: translateX(150px);
	transform: translateX(150px);
	cursor: pointer;
}

.item-holder {
	position: relative;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
	overflow: hidden;
}

.item-caption {
	position: absolute;
	top: 24px;
	bottom: 0;
	left: 0;
	width: 150px;
	background: #313131;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.item-caption h2 {
	font-size: 32px;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	padding-left: 13px;
}

.item-caption p {
	padding-left: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

.item-created {
	text-decoration: none;
	position: absolute;
	bottom: 16px;
	left: 17px;
	background: #6f6f6f;
	padding: 5px 10px;
}

.filtr-item:hover .item-caption {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.item-holder a {
	text-decoration: none;
	color: #fff;
}

.item-holder a:focus {
	outline: none;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder,
.mfp-close {
	cursor: crosshair;
}

.loadmore {
	display: inline-block;
	background: transparent;
	margin-top: 25px;
	text-decoration: none;
	color: #6f6f6f;
	font-family: 'Rubik', sans-serif;
	font-size: 17px;
	font-weight: 500;
	border: 2px solid #6f6f6f;
	padding: 5px 18px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.loadmore:hover {
	background: #6f6f6f;
	color: #fff;
	border: 2px solid #6f6f6f;
	text-decoration: none;
}
